{% extends "base.html" %}

{% block title %}
Edit User
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h3>Edit User</h3>

    <a href="{{ url_for('main.users') }}"
       class="btn btn-secondary">

        Back

    </a>

</div>

<div class="card shadow-sm">

    <div class="card-body">

        <form method="POST">

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Staff ID
                    </label>

                    <input type="text"
                        name="staff_id"
                        class="form-control"
                        value="{{ user.staff_id }}" disabled>
                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Full Name
                    </label>

                    <input type="text"
                           name="full_name"
                           class="form-control"
                        value="{{ user.full_name }}"
                           required>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Username
                    </label>

                    <input type="text"
                           name="username"
                           class="form-control"
                           value="{{ user.username }}"
                           required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Email
                    </label>

                    <input type="email"
                           name="email"
                           class="form-control"
                           value="{{ user.email }}" required>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Phone
                    </label>

                    <input type="text"
                           name="phone"
                           class="form-control"
                           value="{{ user.phone }}">

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Role
                    </label>

                    <select name="role"
                        class="form-select"
                        required>

                    <option value="superadmin"
                        {% if user.role == 'superadmin' %}
                        selected
                        {% endif %}>
                        Super Admin
                    </option>

                    <option value="admin"
                        {% if user.role == 'admin' %}
                        selected
                        {% endif %}>
                        Admin
                    </option>

                    <option value="supervisor"
                        {% if user.role == 'supervisor' %}
                        selected
                        {% endif %}>
                        Supervisor
                    </option>

                    <option value="staff"
                        {% if user.role == 'staff' %}
                        selected
                        {% endif %}>
                        Staff
                    </option>

                </select>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Unit
                    </label>

                    <select name="unit_id"
                            class="form-select"
                            required>

                        {% for unit in units %}

                        <option value="{{ unit.id }}"
                            {% if user.unit_id == unit.id %}
                            selected
                            {% endif %}>

                            {{ unit.name }}

                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Department
                    </label>

                    <select name="department_id"
                            class="form-select"
                            required>

                        {% for department in departments %}

                        <option value="{{ department.id }}"
                            {% if user.department_id == department.id %}
                            selected
                            {% endif %}>

                            {{ department.name }}

                        </option>

                        {% endfor %}

                    </select>

                </div>

            </div>

            <button type="submit"
                    class="btn btn-primary">

                Update User

            </button>

        </form>

    </div>

</div>

{% endblock %}