{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h3>
                    {{ total_users }}
                </h3>

                <p>
                    Total Users
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h3>
                    {{ total_units }}
                </h3>

                <p>
                    Units
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h3>
                    {{ total_departments }}
                </h3>

                <p>
                    Departments
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h3>
                    0
                </h3>

                <p>
                    Present Today
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}