body{
    background:#f5f7fa;
    margin:0;
}

.wrapper{
    display:flex;
}



.main-content{
    flex:1;
}
.rotate-caret{

    transform: rotate(180deg);

    transition: .3s;

}
.collapse.show + .caret {
    transform: rotate(180deg);
}
.card-body {
    background-color: #f0f8ff;
}
.dashboard-card .card-body {
    background-color: #eaf6ff;
}

.field-attendance-btn {

    background: linear-gradient(
        135deg,
        #4f46e5 0%,
        #7c3aed 50%,
        #ec4899 100%
    );

    color: white !important;

    border: none;

    border-radius: 15px;

    font-size: 18px;

    font-weight: 700;

    letter-spacing: 0.5px;

    padding: 15px 35px;

    transition: all 0.3s ease;

    box-shadow:
        0 10px 25px rgba(
            124,
            58,
            237,
            0.35
        );
}

.field-attendance-btn:hover {

    transform: translateY(-4px);

    box-shadow:
        0 15px 35px rgba(
            124,
            58,
            237,
            0.45
        );

    color: white !important;
}

.field-attendance-btn:active {

    transform: scale(0.98);
}

.sidebar.collapsed {

    width: 120px;
    overflow-x: hidden;
}

.main-content.expanded {

    margin-left: 100px;
}
.sidebar.collapsed h3 {

    display: none;
}

.sidebar.collapsed .nav-link {

    font-size: 0;
}

.sidebar.collapsed .nav-link i {

    font-size: 22px;
}

.sidebar {

    width: 260px;

    min-height: 100vh;
    transition: all .3s ease;
    background: #212529;

    color: white;

    position: fixed;

    left: 0;

    top: 0;

    padding: 20px;

    overflow-y: auto;
    z-index: 1000;
}
#toggleSidebar {

    position: absolute;

    top: 10px;

    right: 10px;

    z-index: 9999;
}

.sidebar h3 {

    color: white;
}

.sidebar .nav-link {

    color: white !important;

    padding: 10px 12px;

    border-radius: 8px;

    margin-bottom: 4px;

    transition: all 0.3s ease;
}

.sidebar .nav-link:hover {

    background-color: #495057;

    color: white !important;
}

.sidebar-footer {

    margin-top: 30px;

    border-top: 1px solid rgba(
        255,
        255,
        255,
        0.2
    );

    padding-top: 15px;
}

.main-content {

    margin-left: 280px;
    padding: 20px;
    transition: all .3s ease;
}


.toast-success {

    background:
        linear-gradient(
            135deg,
            #198754,
            #20c997
        );

    color:white;
}

.toast-danger {

    background:
        linear-gradient(
            135deg,
            #dc3545,
            #ff6b6b
        );

    color:white;
}

.toast-warning {

    background:
        linear-gradient(
            135deg,
            #ffc107,
            #ffca2c
        );

    color:black;
}