<div class="sidebar">

    <h3 class="text-center mb-4">
        WorkForce
    </h3>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link text-white"
               href="/dashboard">

                <i class="bi bi-speedometer2"></i>
                Dashboard

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white"
               href="#">

                <i class="bi bi-building"></i>
                Units

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white"
               href="#">

                <i class="bi bi-diagram-3"></i>
                Departments

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white"
               href="#">

                <i class="bi bi-people"></i>
                Users

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white"
               href="#">

                <i class="bi bi-clock-history"></i>
                Attendance

            </a>
        </li>

    </ul>

</div>