<div id="sidebar" class="sidebar">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h3 id="sidebarTitle">

            WorkForce

        </h3>
        <button
            type="button"
            id="toggleSidebar"
            class="btn btn-sm btn-outline-light">

            <i class="bi bi-list"></i>

        </button>

    </div>

    <ul class="nav flex-column">

        <!-- DASHBOARD -->

        <li class="nav-item">

            <a class="nav-link"
               href="{{ url_for('main.dashboard') }}">

                <i class="bi bi-speedometer2"></i>
                <span>
                    Dashboard
                </span>
            </a>

        </li>

        <!-- ADMINISTRATION -->

        {% if current_user.role in ["admin", "superadmin"] %}

        <li class="nav-item">

            <a class="nav-link d-flex justify-content-between"
               data-bs-toggle="collapse"
               href="#administrationMenu"
               role="button">

                <span>

                    <i class="bi bi-gear"></i>

                    Clients

                </span>

                <i class="bi bi-caret-down-fill"></i>

            </a>

            <div class="collapse show"
                 id="administrationMenu">

                <ul class="nav flex-column ms-3">

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.units') }}">

                            <i class="bi bi-building"></i>

                            Projects

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.unit_locations') }}">

                            <i class="bi bi-geo-alt"></i>

                            Project Locations

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.departments') }}">

                            <i class="bi bi-diagram-3"></i>

                            Departments

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.users') }}">

                            <i class="bi bi-people"></i>

                            Users

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.attendance_report') }}">

                            <i class="bi bi-calendar-check"></i>

                            Attendance Report

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.field_attend_compl') }}">

                            <i class="bi bi-map"></i>

                            Field Attendance Report

                        </a>

                    </li>
                    

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.field_attendance_compliance') }}">

                            <i class="bi bi-graph-up"></i>

                            Today's Field Compliance

                        </a>

                    </li>

                    {% if current_user.role == "superadmin" %}

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.audit_logs') }}">

                            <i class="bi bi-journal-text"></i>

                            Audit Logs

                        </a>

                    </li>
                    <li>
                        <a href="{{ url_for('main.attendance_schedule_config') }}"
                            class="btn btn-primary">
                                Attendance Schedule Config
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.generate_attendance_schedule') }}"
                        class="btn btn-success">

                            Generate Schedule

                        </a>
                    </li>

                    {% endif %}

                </ul>
                

            </div>

        </li>

        {% endif %}

        <!-- ATTENDANCE -->

        <li class="nav-item">

            <a class="nav-link"
               href="{{ url_for('main.my_attendance') }}">
                <i class="bi bi-calendar-check"></i>

                My Attendance

            </a>

        </li>
        <li>

            <a
                class="dropdown-item"
                href="{{ url_for('main.attendance_history_v2') }}">

                <i class="bi bi-clock-history"></i>

                My Attendance History

            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link"
               href="{{ url_for('main.field_checkpoint') }}">

                <i class="bi bi-pin-map-fill"></i>

                Field Attendance

            </a>

        </li>

        <!-- ACCOUNT -->

        <li class="nav-item">

            <a class="nav-link"
               href="{{ url_for('main.profile') }}">

                <i class="bi bi-person-circle"></i>

                My Profile

            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link"
               href="{{ url_for('main.change_password') }}">

                <i class="bi bi-key"></i>

                Change Password

            </a>

        </li>
        

    </ul>

    <div class="sidebar-footer">

        <a class="nav-link"
           href="{{ url_for('main.logout') }}">

            <i class="bi bi-box-arrow-right"></i>

            Logout

        </a>

    </div>

</div>