<div id="sidebar" class="sidebar">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h3 id="sidebarTitle">

            WorkForce

        </h3>
        <button
            type="button"
            id="toggleSidebar"
            class="btn btn-sm btn-outline-light">

            <i class="bi bi-list"></i>

        </button>

    </div>

    <ul class="nav flex-column">

        <!-- DASHBOARD -->

        <li class="nav-item">

            <a class="nav-link"
               href="{{ url_for('main.dashboard') }}">

                <i class="bi bi-speedometer2"></i>
                <span>
                    Dashboard
                </span>
            </a>

        </li>

        <!-- ADMINISTRATION -->

        {% if current_user.role in ["admin", "superadmin"] %}

        <li class="nav-item">

            <a class="nav-link d-flex justify-content-between
                {% if request.endpoint in [

                    'main.units',
                    'main.unit_locations',
                    'main.departments',
                    'main.users',
                    'main.attendance_report',
                    'main.attendance_dashboard_v2',
                    'main.attendance_compliance_v2',
                    'main.attendance_schedule_config',
                    'main.generate_attendance_schedule',
                    'main.audit_logs'

                ] %}
                active
                {% endif %}
                "
                data-bs-toggle="collapse"
                href="#administrationMenu"
                role="button">

                <span>

                    <i class="bi bi-gear"></i>

                    Clients

                </span>

                <i class="bi bi-caret-down-fill
                    {% if request.endpoint in [

                        'main.units',
                        'main.unit_locations',
                        'main.departments',
                        'main.users',
                        'main.attendance_report',
                        'main.attendance_dashboard_v2',
                        'main.attendance_compliance_v2',
                        'main.attendance_schedule_config',
                        'main.generate_attendance_schedule',
                        'main.audit_logs'

                    ] %}
                    rotate-caret
                    {% endif %}
                    "></i>

            </a>

            <div class="collapse
                {% if request.endpoint in [

                    'main.units',
                    'main.unit_locations',
                    'main.departments',
                    'main.users',
                    'main.attendance_report',
                    'main.attendance_dashboard_v2',
                    'main.attendance_compliance_v2',
                    'main.attendance_schedule_config',
                    'main.generate_attendance_schedule',
                    'main.audit_logs'

                ] %}
                show
                {% endif %}
                "
                id="administrationMenu">

                <ul class="nav flex-column ms-3">

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.units') }}">

                            <i class="bi bi-building"></i>

                            Projects

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.unit_locations') }}">

                            <i class="bi bi-geo-alt"></i>

                            Project Locations

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.departments') }}">

                            <i class="bi bi-diagram-3"></i>

                            Departments

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.users') }}">

                            <i class="bi bi-people"></i>

                            Users

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.attendance_report') }}">

                            <i class="bi bi-calendar-check"></i>

                            Attendance Report

                        </a>

                    </li>

                    <!-- FIELD ATTENDANCE V2 -->

                    <li>

                        <a class="nav-link"
                        href="{{ url_for('main.attendance_dashboard_v2') }}">

                            <i class="bi bi-speedometer2"></i>

                            Attendance Dashboard V2

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                        href="{{ url_for('main.attendance_compliance_v2') }}">

                            <i class="bi bi-graph-up-arrow"></i>

                            Compliance Report V2

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                        href="{{ url_for('main.attendance_schedule_config') }}">

                            <i class="bi bi-sliders"></i>

                            Attendance Schedule Config

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                        href="{{ url_for('main.generate_attendance_schedule') }}">

                            <i class="bi bi-calendar-event"></i>

                            Generate Schedule

                        </a>

                    </li>

                    {% if current_user.role == "superadmin" %}
                    <li>

                        <a
                            class="dropdown-item"
                            href="{{ url_for('main.all_history') }}">

                            <i class="bi bi-clock-history"></i>

                            BA Attendance History

                        </a>

                    </li>

                    <li>

                        <a class="nav-link"
                           href="{{ url_for('main.audit_logs') }}">

                            <i class="bi bi-journal-text"></i>

                            Audit Logs

                        </a>

                    </li>
                    {% endif %}

                </ul>
                

            </div>

        </li>

        {% endif %}

        
        <li>

            <a
                class="dropdown-item"
                href="{{ url_for('main.attendance_history_v2') }}">

                <i class="bi bi-clock-history"></i>

                My Attendance History

            </a>

        </li>

        
        <li class="nav-item">

            <a class="nav-link"
            href="{{ url_for('main.dynamic_checkin') }}">

                <i class="bi bi-camera-fill"></i>

                Field Check In V2

            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link"
            href="{{ url_for('main.attendance_history_v2') }}">

                <i class="bi bi-clock-history"></i>

                Attendance History V2

            </a>

        </li>

        <!-- ACCOUNT -->

        <li class="nav-item">

            <a class="nav-link"
               href="{{ url_for('main.profile') }}">

                <i class="bi bi-person-circle"></i>

                My Profile

            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link"
               href="{{ url_for('main.change_password') }}">

                <i class="bi bi-key"></i>

                Change Password

            </a>

        </li>
        

    </ul>

    <div class="sidebar-footer">

        <a class="nav-link"
           href="{{ url_for('main.logout') }}">

            <i class="bi bi-box-arrow-right"></i>

            Logout

        </a>

    </div>

</div>